<div class="container pt-5">
  <div class="row py-5">

    <div *ngFor='let movie of trindingMovies' class="col-md-2">
      <div class="my-2 movie position-relative">
        <a [routerLink]='["/moviedetails",movie.id]'>
          <img [src]='imgPrefix+movie.poster_path' class="w-100" [alt]='movie.title'>
          <h3 class="my-2 h6">{{movie.title}}</h3>
          <div class="vote">
            {{movie.vote_average}}
          </div>
          <div class="heart">
            <i class="fas fa-heart fa-2x"></i>
          </div>
        </a>
      </div>
    </div>
  </div>


</div>
