<div class="w-75 p-5 mx-auto">
  <div *ngIf="error" class="alert alert-danger">
    <p>{{error}}</p>
  </div>
  <form [formGroup]='registerForm' (ngSubmit)='submitRegisterForm(registerForm)'>
    <div class="form-group pt-4">
      <label for="first_name">FirstName</label>
      <input formControlName='first_name' class="form-control" type="text" name="" id="first_name" value="">
      <div *ngIf='registerForm.get("first_name")?.errors!=null&& registerForm.get("first_name")?.touched'
        class="alert alert-danger">
        <p *ngIf='registerForm.get("first_name")?.errors?.required'>first_name is required</p>
        <p *ngIf='registerForm.get("first_name")?.errors?.minlength'>first_name is minLength 3</p>
        <p *ngIf='registerForm.get("first_name")?.errors?.maxlength'>first_name is maxLength 10</p>
      </div>
    </div>

    <div class="form-group">
      <label for="last_name">LastName</label>
      <input formControlName='last_name' class="form-control" type="text" name="" id="last_name" value="">
      <div *ngIf='registerForm.get("last_name")?.errors!=null&& registerForm.get("last_name")?.touched'
        class="alert alert-danger">
        <p *ngIf='registerForm.get("last_name")?.errors?.required'>last_name is required</p>
        <p *ngIf='registerForm.get("last_name")?.errors?.minlength'>last_name is minLength 3</p>
        <p *ngIf='registerForm.get("last_name")?.errors?.maxlength'>last_name is maxLength 10</p>
      </div>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input formControlName='age' class="form-control" type="number" name="" id="age" value="">
      <div *ngIf='registerForm.get("age")?.errors!=null&& registerForm.get("age")?.touched' class="alert alert-danger">
        <p *ngIf='registerForm.get("age")?.errors?.required'>age is required</p>
        <p *ngIf='registerForm.get("age")?.errors?.min'>age is min 16</p>
        <p *ngIf='registerForm.get("age")?.errors?.max'>age is maximum 80</p>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName='email' class="form-control" type="email" name="" id="email" value="">
      <div *ngIf='registerForm.get("email")?.errors!=null&& registerForm.get("email")?.touched'
        class="alert alert-danger">
        <p *ngIf='registerForm.get("email")?.errors?.required'>email is required</p>
        <p *ngIf='registerForm.get("email")?.errors?.email'>email is inValid</p>

      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName='password' class="form-control" type="password" name="" id="password" value="">
      <div *ngIf='registerForm.get("password")?.errors!=null&& registerForm.get("password")?.touched'
        class="alert alert-danger">
        <p *ngIf='registerForm.get("password")?.errors?.required'>password is required</p>
        <p *ngIf='registerForm.get("password")?.errors?.pattern'>password must start with uppercase</p>

      </div>
    </div>

    <button [disabled]='registerForm.invalid' class="btn btn-info" type="submit">register</button>
  </form>



</div>
